.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px auto 0;
    flex-wrap: wrap;
    max-width: 1280px;
}

.descripcion-producto a {
    text-decoration: none;
    color: black;
}

.descripcion-producto h4 {
    font-weight: 400;
}