.item-count input  {
    text-align:center;
}

.item-count input,
.item-count button {
    margin: 0 5px;
}

.item-count button {
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border:none;
    line-height: 1.2;
}